* {
  scroll-behavior: smooth;
}

section {
  min-height: 550px;
}

.navbar-nav a {
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(255, 187, 0);
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 15px;
  box-shadow: 1px 2px 2px white;
}

/* Jumbotron */
.jumbotron {
  height: 655px;
  padding-top: 10rem;
  background-image: url(img/jb.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -50px;
  color: white;
}
.jumbotron img {
  border: 4px solid black;
  background-color: rgba(255, 187, 0, 0.281);
}
.jumbotron h1,
.jumbotron p {
  text-shadow: 3px 3px 2px black;
}

/* Link */
.link p {
  color: white;
}
.link p:hover {
  color: rgb(255, 187, 0);
}

/* About */
.about .judul {
  padding-top: 70px;
}
.about .card {
  border-radius: 20px;
}

/* Tabepane */
.tabpane {
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: 0 -50px;
  background-attachment: fixed;
}
.tabpane h2 {
  padding-top: 70px;
}
.tabpane a {
  color: black;
}
.tabpane a:hover {
  color: rgb(255, 187, 0);
}
.tabpane .tab-content {
  min-height: 290px;
  background-color: rgb(255, 187, 0);
  border-radius: 0 0 30px 30px;
}
.tabpane .card {
  border-radius: 30px;
}

/* Produk */

.produk h2 {
  padding-top: 70px;
}
.produk .card {
  position: relative;
  height: 15rem;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 2px 2px 15px black;
}
.produk img {
  background-size: cover;
  height: 12rem;
  border-radius: 15px 15px 0 0;
}
.img-title {
  position: absolute;
  opacity: 0;
  color: white;
  background-color: rgba(255, 187, 0, 0.5);
  border-radius: 15px 15px 0 0;
}
.card:hover .img-title {
  opacity: 1;
  transition: all 0.5s;
}

/* Komposisi */
.komposisi {
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: 0 -50px;
  background-attachment: fixed;
}
.komposisi h2 {
  padding-top: 70px;
}
.komposisi .card {
  background-color: rgba(255, 187, 0, 0.774);
  color: black;
  border: 1px solid black;
}

/* Kontak */
.kontak {
  background-color: rgb(255, 187, 0);
}
.kontak h2 {
  padding-top: 70px;
}
.kontak iframe,
.kontak .card {
  border-radius: 20px;
}

/* galery */
.galery h2 {
  padding-top: 70px;
}
.carousel-inner img {
  border-radius: 20px;
  border: 4px solid brown;
}
.galery .bahan img {
  width: 200px;
  height: 200px;
  border: 2px solid brown;
}

/* Footer */
footer a {
  text-decoration: none;
  color: white;
}
